<!-- Process Steps -->
<div class="container my-5">
    <ul class="steps">
        <li class="{{cart}}"><a href="/cart">Cart</a></li>
        <li class="{{checkout}}"><a href="/cart/checkout">Shipping Address</a></li>
        <li><a href="{{payment}}">Payment</a></li>
    </ul>
</div>