<!-- Main -->
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">YOUR ORDER HISTORY</h1>
        </div>
    </section>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Datetime</th>
                    <th scope="col">Details</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">10</th>
                    <td>7/16/2018, 2:30:02 PM</td>
                    <td>
                        <a href="/users/orders/10">Order details</a>
                    </td>
                    <td>$100</td>
                    <td>Processing</td>
                </tr>
            </tbody>
        </table>
    </div>