<!-- Search -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">SEARCH RESULT</h1>
        <p><strong>{{count}}</strong> products were found for query <span class="text-success">'{{query}}'</span></p>
    </div>
</section>
{{>products}}